################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/asp.net core/LearnEnglish/.vs/LearnEnglish/v17
/src/asp.net core/LearnEnglish/.vs/LearnEnglish/FileContentIndex
/src/asp.net core/LearnEnglish/LearnEnglish.Application/obj
/src/asp.net core/LearnEnglish/LearnEnglish.Domain/obj
/src/asp.net core/LearnEnglish/LearnEnglish.EntityFrameWork/obj
/src/asp.net core/LearnEnglish/LearnEnglish.Web.Host/obj
/src/asp.net core/LearnEnglish/.vs
/src/asp.net core/LearnEnglish/.vscode
/src/asp.net core/LearnEnglish/LearnEnglish.Authentication/obj
/src/asp.net core/LearnEnglish/LearnEnglish.GetWay/obj
/src/asp.net core/LearnEnglish/LearnEnglish.Gateway/obj
/src/asp.net core/LearnEnglish/EventBus/obj
/src/asp.net core/LearnEnglish/EventBus.RabbitMQ/obj/Debug/net8.0
/src/asp.net core/LearnEnglish/EventBus.RabbitMQ/obj
